.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.text-center img {
  box-shadow: 13px 0 15px rgba(0, 0, 0, 0.1);
}