<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link
            href="https://font.elice.io/css?family=Elice+DX+Neolli"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <style>
        html,
        body {
          font-family: "Elice DX Neolli", sans-serif;
        }
    </style>
    <title th:text="${category.categoryName} + ' 카테고리 상세'">카테고리 상세</title>
    <!-- 아이콘 -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/elice-rabbit-favicon.png"
    />
    <!-- css 관련 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <!-- 폰트 어썸: 아이콘 -->
    <script
            defer
            src="https://kit.fontawesome.com/9daa42bcef.js"
            crossorigin="anonymous"
    ></script>
    <!-- AWS S3 사용하기 위한 파일 -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/category/category.css" />
    <script src="/category/category.js" type="module" defer></script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/images/elice-rabbit.png" width="30" height="30" />
                    <span class="has-text-link">Shopping Mall</span>
                </a>

                <a
                        role="button"
                        class="navbar-burger"
                        aria-label="menu"
                        aria-expanded="false"
                        data-target="navbarBasicExample"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
                    <ul id="navbar">
                        <li>
                            <a href="/cart" aria-current="page">
                      <span class="icon">
                        <i class="fas fa-cart-shopping"></i>
                      </span>
                                <span>카트</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <a
                class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
                style="transition: all 0.1s ease-in-out"
                th:href="@{/admin/category}"
        >&larr; 카테고리 관리 페이지</a
        >
        <div class="header mb-5">
            <h1 class="text-center" th:text="${category.categoryName}">카테고리 제목</h1>
            <p
                    class="text-center text-secondary"
                    th:text="${category.categoryContent}"
            ></p>
        </div>
        <div class="d-flex w-100 justify-content-between mb-3">
            <form>
                <div class="input-group">
                    <input
                            class="form-control"
                            name="keyword"
                            placeholder="키워드 검색"
                            th:value="${keyword}"
                    />
                    <button class="btn btn-primary lh-1 p-0 px-2">
                        <span class="material-symbols-outlined"> search </span>
                    </button>
                </div>
            </form>
            <a
                    th:href="@{/posts/create(boardId=${board.id})}"
                    class="btn btn-primary"
            >상품 추가</a
            >
        </div>
        <div class="list-group position-relative mb-3">
            <a
                    class="board-item list-group-item p-3 list-group-item-action"
                    th:unless="${productPage.isEmpty()}"
                    th:each="product : ${productPage}"
                    th:href="@{/posts/{postId}(postId=${post.id})}"
            >
                <h4 class="fw-bold mb-1" th:text="${product.name}">상품명</h4>
                <small class="text-secondary" th:text="${product.createdAt}"
                >상품 등록일</small
                >
            </a>
            <span
                    th:if="${productPage.isEmpty()}"
                    class="text-center"
                    th:text="${keyword != null ? '`' + keyword + '` 키워드에 해당하는 상품이 없습니다.' : '올라온 상품이 없습니다.'}"
            ></span>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <ul class="pagination">
                <li
                        th:each="i : ${productPage.totalPages > 1 ? #numbers.sequence(0, productPage.totalPages - 1) : #numbers.sequence(0, 0)}"
                        class="page-item"
                        th:classappend="${i == productPage.number ? 'active' : ''}"
                >
                    <a
                            class="page-link"
                            th:href="@{/admin/category/{id}(page=${i}, size=${productPage.size}, id=${category.id}, keyword=${keyword})}"
                            th:text="${i + 1}"
                    >0</a
                    >
                </li>
            </ul>
        </div>
    </div>

    <!-- 부트스트랩 JS 추가 -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
    ></script>
</body>
</html>